.detailsContainer {
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 50%;
  min-width: 40%;
  height: max-content;
  background-color: transparent;
}

.detailsBackground {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.innerContainer {
  z-index: 2;
  overflow-y: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 40%;
  background-color: var(--color-beige);
}

.detailsContainer::-webkit-scrollbar {
  width: 15px;
}

.detailsContainer::-webkit-scrollbar-track {
  background: var(--color-black);
}

.detailsContainer::-webkit-scrollbar-thumb {
  background-color: var(--color-gold);
  border-radius: 20px;
  border: 5px solid var(--color-black);
}

.detailsText {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  padding: 15px;
}

.detailsTitle {
  margin: 5px 10px;
  color: var(--color-red);
  text-align: center;
  font-family: var(--font-accent);
  font-weight: 600;
}

.detailsImage {
  max-height: 60vh;
  width: 100%;
  object-fit: cover;
  transition: all ease-in-out 0.3s;
}

.closeIcon {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 5px;
  left: 5px;
  transition: all ease-in-out 0.3s;
}

.closeIcon:hover {
  transform: rotate(-90deg);
}